@import "tailwindcss";
@import "@fontsource-variable/noto-sans-jp";

@theme {
  --color-background: #03071c;
  --color-primary: #344fdf;
  --color-secondary: #11268e;
  --color-accent: #1338f0;
  --color-light-bg: #1d2033;
  --default-font-family: "Noto Sans JP Variable", "sans-serif";
}
